html {
    -webkit-print-color-adjust: exact;
}
:root {
    --color-input-background: #7777771c;
    --color-textos-general: #000000;
    --color-violet-loading:#6442fa;
    --color-btn-submit-hover-background: #000000;
    --color-btn-submit-background: #3b3b3b;
    --color-btn-secondary-background: #f0f3f847;
    --color-btn-secondary-hover-background: #ffffff80;
    --color-menu-option-hover-background: #ffffff80;
    --gradiente-home:linear-gradient(0, #fff 50%, #6442fa 150%);
}

body{
    background: #cdcdcd;
    height: 100dvh;
    color: var(--color-textos-general)!important;
    transition: background 2s ease;
}

.bg-layer {
    position: absolute;
    top: 0; left: 0;
    width: 100%;
    height: 100%;
    z-index:-2;
    background: var(--gradiente-home);
    transition: opacity 2s ease;
}

.bg-top {
    z-index: -1;
    opacity: 0;
}

.h1, .h2, .h3, .h4, .h5, .h6,
h1, h2, h3, h4, h5, h6,
p, label{
    /* color: #484848!important; */
    color: var(--color-textos-general)!important;
}

a{
    text-decoration: none!important;
    color: var(--color-textos-general)!important;
}
a.link-word:hover{
    font-weight: 600;
    text-decoration: underline!important;
    color: var(--color-textos-general)!important;
}

/* Preloader */
.loading {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: var(--color-violet-loading);
    z-index: 2000;
    opacity: 0.9;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


/* Header */
.menu-option {
    font-weight: 600;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 1rem;
    border-radius: 1rem;
}
.menu-option:hover,
.menu-option:active,
.menu-option:focus,
.menu-option:focus-visible {
    filter: opacity(0.5);
}
.menu-option.dropdown-toggle::after{
    display: none;
}

/* Cards */
.card.card-custom{
    padding: 1.5rem;
    border-radius: 1rem;
    border: 0;
    background: hsl(from var(--surface-3) h s l / 0.25);
    /* backdrop-filter: blur(12px); */
}
.card::before {
    content: "";
    position: absolute;
    z-index: -1;
    inset: 0;
    border-radius: inherit;
    border: var(--border-width) solid transparent;
    background: linear-gradient(var(--border-1), var(--border-2)) border-box;
    mask: linear-gradient(black, black) border-box,
    linear-gradient(black, black) padding-box;
    mask-composite: subtract;
}


/* Button */
.btn{
    width: 100%;
    border-radius: 1rem!important;
    border: 0!important;
    font-weight: 500;
}
.btn:active,.btn-header:active{
    scale: 0.98;
}
.btn-header{
    border-radius: 1rem!important;
    border: 0!important;
    font-weight: 500;
    padding: 0.5rem 1rem;
    display: flex;
    align-items: center;
}
.btn-transparent{
    background: var(--color-btn-secondary-background);
}
.btn-transparent:hover,
.btn-transparent:active,
.btn-transparent:focus,
.btn-transparent:focus-visible {
    background: var(--color-btn-secondary-hover-background);
}
.btn-submit{
    background: var(--color-btn-submit-background);
    color: #fff!important;
}
.btn-submit:hover,
.btn-submit:active,
.btn-submit:focus,
.btn-submit:focus-visible {
    background: var(--color-btn-submit-hover-background)!important;
}

/* Inputs */
label {
    margin-bottom: 0.25rem;
    font-weight: 500;
}
input.form-control{
    background: var(--color-input-background);
    border-radius: 1rem;
    border: 0;
}

/* Footer */

/* Color Ways */

/* Containers */
.container{
    width: calc(100% - 1rem);
    max-width: 95%;
}

/* Breakpoint */
@media (min-width: 320px) {

}
@media (min-width: 576px) {

}
/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {

}
/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {

}
/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

}
@media (min-width: 1400px){
    .container{
        max-width: 1260px;
    }
}
@media (min-width: 1920px){
    .col-xxxl-auto {
        flex: 0 0 auto;
        width: auto;
    }

    .col-xxxl-1 {
        flex: 0 0 auto;
        width: 8.33333333%;
    }

    .col-xxxl-2 {
        flex: 0 0 auto;
        width: 16.66666667%;
    }

    .col-xxxl-3 {
        flex: 0 0 auto;
        width: 25%;
    }

    .col-xxxl-4 {
        flex: 0 0 auto;
        width: 33.33333333%;
    }

    .col-xxxl-5 {
        flex: 0 0 auto;
        width: 41.66666667%;
    }

    .col-xxxl-6 {
        flex: 0 0 auto;
        width: 50%;
    }

    .col-xxxl-7 {
        flex: 0 0 auto;
        width: 58.33333333%;
    }

    .col-xxxl-8 {
        flex: 0 0 auto;
        width: 66.66666667%;
    }

    .col-xxxl-9 {
        flex: 0 0 auto;
        width: 75%;
    }

    .col-xxxl-10 {
        flex: 0 0 auto;
        width: 83.33333333%;
    }

    .col-xxxl-11 {
        flex: 0 0 auto;
        width: 91.66666667%;
    }

    .col-xxxl-12 {
        flex: 0 0 auto;
        width: 100%;
    }

    .offset-xxxl-0 {
        margin-left: 0;
    }

    .offset-xxxl-1 {
        margin-left: 8.33333333%;
    }

    .offset-xxxl-2 {
        margin-left: 16.66666667%;
    }

    .offset-xxxl-3 {
        margin-left: 25%;
    }

    .offset-xxxl-4 {
        margin-left: 33.33333333%;
    }

    .offset-xxxl-5 {
        margin-left: 41.66666667%;
    }

    .offset-xxxl-6 {
        margin-left: 50%;
    }

    .offset-xxxl-7 {
        margin-left: 58.33333333%;
    }

    .offset-xxxl-8 {
        margin-left: 66.66666667%;
    }

    .offset-xxxl-9 {
        margin-left: 75%;
    }

    .offset-xxxl-10 {
        margin-left: 83.33333333%;
    }

    .offset-xxxl-11 {
        margin-left: 91.66666667%;
    }

    .g-xxxl-0,
    .gx-xxxl-0 {
        --bs-gutter-x: 0;
    }

    .g-xxxl-0,
    .gy-xxxl-0 {
        --bs-gutter-y: 0;
    }

    .g-xxxl-1,
    .gx-xxxl-1 {
        --bs-gutter-x: 0.25rem;
    }

    .g-xxxl-1,
    .gy-xxxl-1 {
        --bs-gutter-y: 0.25rem;
    }

    .g-xxxl-2,
    .gx-xxxl-2 {
        --bs-gutter-x: 0.5rem;
    }

    .g-xxxl-2,
    .gy-xxxl-2 {
        --bs-gutter-y: 0.5rem;
    }

    .g-xxxl-3,
    .gx-xxxl-3 {
        --bs-gutter-x: 1rem;
    }

    .g-xxxl-3,
    .gy-xxxl-3 {
        --bs-gutter-y: 1rem;
    }

    .g-xxxl-4,
    .gx-xxxl-4 {
        --bs-gutter-x: 1.5rem;
    }

    .g-xxxl-4,
    .gy-xxxl-4 {
        --bs-gutter-y: 1.5rem;
    }

    .g-xxxl-5,
    .gx-xxxl-5 {
        --bs-gutter-x: 3rem;
    }

    .g-xxxl-5,
    .gy-xxxl-5 {
        --bs-gutter-y: 3rem;
    }

    .text-xxxl-start {
        text-align: left !important;
    }

    .text-xxxl-end {
        text-align: right !important;
    }

    .text-xxxl-center {
        text-align: center !important;
    }
}
